# Server Configuration
PORT=3000
NODE_ENV=development

# PostgreSQL Database Configuration (Docker)
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=hackathon_db
POSTGRES_PORT=5432

# Prisma Database Connection URL
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/hackathon_db?schema=public"
